* {
    margin: 0;
    padding: 0;
}
#DVD, #Furniture, #Book{
    display: none;
}
.container-card {
    display: inline-block;
}
.card {
    width: 18rem;
    margin-left: 60px;
    margin-bottom: 40px;
}
ul {
    list-style: none;
    margin-left: -30px;
}
li {
    text-align: center;
}
.delete-checkbox {
    margin-left: 10px;
}
.add-btn {
    text-decoration: none;
    color: black;
}
footer {
    text-align: center;
    margin-top: 20px;
}
input[type="text"] {
    margin: 10px;
}